.file {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 2em;
  color: rgba(255, 255, 255, 0.5);
  // border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.5);

  &:hover {
    color: #ffffff;

    & > hr {
      background-color: #ffffff;
    }
  }

  &:focus {
    color: #ffffff;

    & > hr {
      background-color: #ffffff;
    }
  }

  & > * {
    margin: 0 0.5em 0 0.5em;
  }

  & > button {
    font-family: 'Material Icons', Helvetica, sans-serif;
    font-size: 2em;
    margin: 0 0.25em 0 0.25em;
    max-height: 1em;
  }

  &__vertical-line {
    border: none;
    width: 1px;
    min-width: 1px;
    height: 80%;
    background-color: rgba(255, 255, 255, 0.5);
  }

  &__name {
    overflow: hidden;
    white-space: nowrap;
  }
}
