.registration-form {
  background-color: rgb(60, 60, 60);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  &_hidden {
    display: none;
  }

  & > * {
    margin: 2em;
  }
}
