.header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: rgb(45, 45, 45);
  position: fixed;
  top: 0;
  left: 0;

  &__in {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
