.text-field {
  color: rgba(255, 255, 255, 0.5);

  &:hover {
    color: rgb(204, 204, 204);
  }

  &:focus {
    color: rgb(204, 204, 204);
  }

  &__field {
    background-color: rgb(45, 45, 45);
    border: none;
    outline: none;
    height: 2em;
    width: 100%;
    color: rgba(255, 255, 255, 0.5);
    padding-left: 5%;
    box-sizing: border-box;

    &:hover {
      color: rgb(204, 204, 204);
    }

    &:focus {
      color: rgb(204, 204, 204);
    }
  }
}
